@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --dark-gray: #2d2d2d;
  --light-gray: #505050;
  --neon-blue: #0df9eb;
  --neon-pink: #fd0de4;
  --neon-yellow: #fdff00;

  /*----- desktops--------- */
  --side-padding-lg: 2.5rem;
  --top-bottom-padding-lg: 1.8rem;
  --text-paragraph-lg: 1rem;
  --text-medium-lg: 1.5rem;
  --text-large-lg: 3rem;
  --small-margin-bottom-lg: 0.8rem;
  --medium-margin-bottom-lg: 1rem;
  --big-margin-bottom-lg: 1.2rem;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--dark-gray);
  color: var(--white);
}

button {
  border: none;
  background-color: transparent;
}

.colored--btn {
  background-color: var(--neon-blue);
  width: 5rem;
  height: 2rem;
  color: var(--dark-gray);
}

.bordered--btn {
  border: 1px solid var(--neon-blue);
  width: 5rem;
  height: 2rem;
  color: var(--white);
}

/* nav */
.nav {
  display: flex;
  flex-direction: column;
  padding: var(--top-bottom-padding-lg) var(--side-padding-lg);
}

.nav__container__socials,
.nav__container__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav__container__socials {
  margin-bottom: var(--top-bottom-padding-lg);
}

.nav__container__socials::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 40%;
  height: 0.5px;
  background-color: var(--neon-blue);
}

.nav__socials i {
  font-size: 1.1rem;
  margin-right: 0.9rem;
  transition: color 1s ease;
  color: var(--light-gray);
}

.nav__socials i:hover {
  cursor: pointer;
  color: var(--neon-blue);
  cursor: pointer;
}

.nav li {
  color: var(--neon-blue);
  padding-bottom: 0.4rem;
  font-size: var(--text-paragraph-lg);
  transition: color 0.3s ease, border-bottom 0.6s ease 0.3s;
}

.nav li:hover {
  color: var(--white);
  cursor: pointer;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--neon-blue);
}

.nav__redirect ul {
  display: flex;
  list-style: none;
}

.nav__redirect li {
  margin-right: 1rem;
}

.nav__bar ul {
  display: flex;
  list-style: none;
}

.nav__bar li {
  margin-right: 1rem;
}

/* header */
.header {
  height: 80vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--top-bottom-padding-lg) var(--side-padding-lg);
  overflow: hidden;
}

.header__text {
  width: 50%;
  height: fit-content;
}

.header__text h1 {
  font-size: var(--text-large-lg);
  margin-bottom: var(--big-margin-bottom-lg);
}

.header__text h3 {
  font-size: var(--text-medium-lg);
  margin-bottom: var(--medium-margin-bottom-lg);
}

.header__buttons {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* main */
.main {
  height: fit-content;
  width: 100vw;
  padding: var(--top-bottom-padding-lg) var(--side-padding-lg);
}

.main__banner {
  width: 80vw;
  height: 40vh;
  border: 1px solid red;
}

.main__box {
  display: flex;
}

.box__img img {
  width: 25%;
  height: auto;
  margin-right: 1rem;
  border: 1px solid red;
}

.box__text {
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  height: 100%;
}

.box__text h2 {
  font-size: var(--text-medium-lg);
  color: var(--white);
}

.box__text p {
  font-size: var(--text-paragraph-lg);
  color: var(--dark-gray);
}

.box__text h3 {
  font-size: var(--text-paragraph-lg);
  color: var(--neon-blue);
}

/* ----grid-------- */

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  height: 100%;
  width: 100%;
}

.grid__box {
  padding: 0.2rem 1rem;

  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.box__img img {
  height: 65%;
  width: 100%;
}

.game__text {
  display: flex;
  flex-direction: column;
}

.game__text h4 {
  color: var(--neon-blue);
  font-size: var(--text-medium-lg);
  margin-bottom: var(--small-margin-bottom-lg);
}

.game__text h2 {
  color: var(--white);
  font-size: var(--text-paragraph-lg);
  margin-bottom: var(--small-margin-bottom-lg);
}

.game__text h5 {
  text-align: end;
  color: var(--dark-gray);
}

/* footer */
.footer {
  padding: var(--top-bottom-padding-lg) var(--side-padding-lg);
  height: fit-content;
  display: flex;
}
